numpy
pandas
scipy
scikit-learn
xgboost
lightgbm
imbalanced-learn
joblib
matplotlib
seaborn
plotly
kaleido        
streamlit
watchdog         
tqdm
python-dotenv
shap                                                          
